.gameContainer {
  max-width: 100%;
}

.gameboard {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.tile {
  color: white;
  border: 0.07em solid #e5e5e549;
  text-transform: capitalize;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.tile[data-state='active'] {
  border-color: var(--active-border-grey);
}

.tile[data-state='correct'] {
  border: none;
  background-color: var(--correct-green);
}

.tile[data-state='wrong-position'] {
  border: none;
  background-color: var(--wrong-position-yellow);
}

.tile[data-state='wrong'] {
  border: none;
  background-color: var(--wrong-grey);
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  max-width: 100%;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 35px;
  margin: 0.1em;
  background-color: #818384;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.keyLarge {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
  margin: 0.1em;
  background-color: #818384;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.key:hover,
.keyLarge:hover {
  background-color: #9a9a9b;
}

.key.wrong {
  background-color: var(--wrong-grey-keyboard);
}

.key.wrongPostion {
  background-color: var(--wrong-position-yellow);
}

.key.correct {
  background-color: var(--correct-green);
}

.startButtonContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.startButton {
  background-color: var(--correct-green);
  border: none;
  font-size: 2.5em;
  color: snow;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transform: translateY(-5vh);
}

.startButton:hover {
  background-color: #538d4e;
}

.startButtonContainer.hide {
  opacity: 0;
  pointer-events: none;
}

.alertContainer {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: rgb(240, 240, 240);
  padding: 0.75em;
  border-radius: 5px;
  color: black;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
  text-align: center;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}
